.dashboard {
  margin: 0;
  max-width: 100%;
  min-height: 1000px;
}

.dashboard_toc {
  font-size: 16px;
  position: sticky;
  top: 80px;
}

.dashboard_toc a {
  text-decoration: none;
}

.dashboard_toc ul {
  padding: 0;
  list-style-type: none;
}
