.badge {
  vertical-align: bottom;
}

.current_status {
  background-color: var(--ifm-color-danger);
  color: var(--ifm-color-secondary);
  font-size: 0.75em;
  text-align: center;
}

.incident {
  padding: 10px;
}

.incident_body {
  margin-bottom: 10px;
  padding: 10px;
  border: 0.5px solid var(--ifm-color-secondary);
  border-top: 0;
}

.incident_link {
  background-color: var(--ifm-color-primary-lightest);
  display: block;
  font-weight: 500;
  margin-top: 5px;
  padding: 2px 5px;
  text-decoration: none;
}

.incident_status {
  border: 0.5px solid var(--ifm-color-secondary);
  border-radius: 5px;
  color: var(--ifm-color-secondary);
  font-weight: 500;
  margin-right: 20px;
  padding: 5px;
}

.incidents {
  background-color: transparent;
}

.migrations_table {
  font-size: small;
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.migrations_table thead {
  text-wrap: nowrap;
}

.migrations_table tr.collapsed,
.migrations_table tbody.collapsed {
  display: none;
}

.migrations_table th:only-child {
  text-align: left;
}

.migrations_table th {
  position: relative;
  cursor: pointer;
  display: table-cell;
  padding: 3px 8px;
  text-align: center;
  user-select: none;
}

.migrations_table th[colspan]::after {
  position: inherit;
  content: " ▿";
  right: auto;
  top: auto;
}

.migrations_table thead th[colspan].collapsed::after {
  content: " ▹";
}

.migrations_table th:not(colspan)::after {
  font-size: smaller;
  position: absolute;
  right: 1px;
  top: 6px;
}

.migrations_table th.ascending::after {
  content: "△";
}

.migrations_table th.descending::after {
  content: "▽";
}

.migrations_table td:first-child {
  text-align: left;
}

.migrations_table td {
  display: table-cell;
  padding: 3px;
  text-align: right;
}

.migrations_table td:first-child {
  cursor: pointer;
}

.migrations_table td:first-child:hover {
  color: var(--ifm-color-primary);
  text-decoration: underline;
}

.migrations_table .button-group {
  float: right;
}

.migrations_table .migration {
  background-color: #ccc;
  cursor: pointer;
  text-align: center;
  margin: 2px;
  padding: 3px;
}

.status_dashboard {
  margin: 0;
  max-width: 100%;
}

.status_dashboard_toc {
  font-size: 16px;
  position: sticky;
  top: 80px;
}

.status_dashboard_toc a {
  text-decoration: none;
}

.status_dashboard_toc ul {
  padding: 0;
  list-style-type: none;
}

.toc_anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.status_pill {
  display: inline-block;
  border-radius: 8px;
  color: var(--ifm-color-secondary);
  min-width: 195px;
  padding: 2px;
  text-align: center;
}

.operational {
  background-color: var(--ifm-color-success);
}

.degraded {
  background-color: var(--ifm-color-warning);
}
