.current_status {
  background-color: var(--ifm-color-danger);
  color: var(--ifm-color-secondary);
  font-size: 0.75em;
  text-align: center;
}

.incident {
  padding: 10px;
}

.incident_body {
  margin-bottom: 10px;
  padding: 10px;
  border: 0.5px solid var(--ifm-color-secondary);
  border-top: 0;
}

.incident_link {
  background-color: var(--ifm-color-primary-lightest);
  display: block;
  font-weight: 500;
  margin-top: 5px;
  padding: 2px 5px;
  text-decoration: none;
}

.incident_status {
  border: 0.5px solid var(--ifm-color-secondary);
  border-radius: 5px;
  color: var(--ifm-color-secondary);
  font-weight: 500;
  margin-right: 20px;
  padding: 5px;
}

.incidents {
  background-color: transparent;
}

.status_dashboard {
  margin: 0;
  max-width: 100%;
}

.status_dashboard_toc {
  font-size: 16px;
  position: sticky;
  top: 80px;
}

.status_dashboard_toc a {
  text-decoration: none;
}

.status_dashboard_toc ul {
  padding: 0;
  list-style-type: none;
}

.toc_anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}
