.migration_details {
  margin: 0;
  max-width: 100%;
  min-height: 500px;
}

.migration_details_toggle {
  float: right;
}

.migration_details table {
  font-size: small;
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

thead {
  text-wrap: nowrap;
}
